  <div class="container"><br>
    <div class="row">
      <ul class="nav nav-pills nav-justified">
      <li class="tablink active"><a href="javascript:void(0)" 
      ng-click="districtController.openTab(0,'Introduction')">Introduction</a></li>
      <li class="tablink"><a href="javascript:void(0)" 
      ng-click="districtController.openTab(1,'atGlance')">District At a Glance</a></li>
      <li class="tablink"><a href="javascript:void(0)"
       ng-click="districtController.openTab(2,'Geography')">Geography</a></li>
      <li class="tablink"><a href="javascript:void(0)" 
      ng-click="districtController.openTab(3,'Demography')">Demography</a></li>
      <li class="tablink"><a href="javascript:void(0)" 
      ng-click="districtController.openTab(4,'Transport_and_tourism')">Transport And Tourism</a></li>

</ul><br>
      <div class="panel panel-primary" style="overflow: hidden;">
          <div class="panel-body">
          <div id="Introduction" class="tab fadeIn">
        <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">Introduction</h3>
          Srinagar /sriˈnɑːɡər/ (Urdu: سری نگر‎) is the summer capital of the Indian state of Jammu and Kashmir. It is situated in the centre of the Kashmir Valley on the banks of the Jhelum River and is surrounded by five districts. In the north it is flanked by Kargil and Ganderbal in the South by Pulwama,in the north-west by Budgam. The capital city of Srinagar,is located 1585 metres above sea level. The city is famous for its gardens, lakes and houseboats. It is also known for traditional Kashmiri handicrafts and dried fruits.<br> 
          <strong>Origin of names :</strong> <br> 
          Folk etymology draws the city name from two Sanskrit words: śrī ("glory", "prosperity", also: a name for the goddess Lakshmi) and nagar, "city", which would make "City of Lakshmi" (or, "City of Prosperity"). 
          However, the earliest records mention the name as siri-nagar which in turn is a local transformation of the original Sanskrit name sūrya-nagar, meaning "City of Sun" (or, of sun god). This also is reflected in the local pronunciation srinagar (and not śrīnagar).
          </div>
        <div id="atGlance" class="tab fadeIn" style="display:none;">
        <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">
        District At A Glance</h3>
        <ul class="list-group">
          <li class="list-group-item">Geographical Area : 1979 Sq Km</li>
          <li class="list-group-item">Population (2011) : 12.36 Lakhs</li>
          <li class="list-group-item">Male Population (2011) : 6.51 Lakhs</li>
          <li class="list-group-item">Female Population (2011) : 5.85 Lakhs</li>
          <li class="list-group-item">Population Growth (2011) : 23.56 %</li>
          <li class="list-group-item">Gender Ratio (2011) : 898 per 1000 males(Approx)</li>
          <li class="list-group-item">Child Gender Ratio (0-6 yrs) (2011) : 1.58</li>
          <li class="list-group-item">Rural Population (2011) : 13572</li>
          <li class="list-group-item">Urban Population (2011) : 1223257</li>
          <li class="list-group-item">SC Population (2011) : 1068</li>
          <li class="list-group-item">ST Population (2011) : 8935</li>
          <li class="list-group-item">Literacy Rate (2011) : 71.21 %</li>
          <li class="list-group-item">Male Literacy Rate (2011) : 78.01 %</li>
          <li class="list-group-item">Female Literacy Rate (2011) : 63.47 %</li>
          <li class="list-group-item">Villages : 137</li>
          <li class="list-group-item">Blocks : 06</li>
          <li class="list-group-item">Panchayats : 08</li>
          <li class="list-group-item">Tehsils : 07</li>
          <li class="list-group-item">Patwar Halqas : 76</li>
          <li class="list-group-item">Niabats : 18</li>
          <li class="list-group-item">Educational Institutions : 970</li>
          <li class="list-group-item">Health Institutions : 194</li>
        </ul>
      </div>

          <div class="tab fadeIn" id="Geography" style="display:none;">
          <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">Geography</h3>
          The city is located on both the sides of the Jhelum River, which is called Vyath in Kashmir. The river passes through the city and meanders through the valley, moving onward and deepening in the Dal Lake. The city is famous for its nine old bridges, connecting the two parts of the city.
          Hokersar is a wetland situated near Srinagar. Thousands of migratory birds come to Hokersar from Siberia and other regions in the winter season. Migratory birds from Siberia and Central Asia use wetlands in Kashmir as their transitory camps between September and October and again around spring. These wetlands play a vital role in sustaining a large population of wintering, staging and breeding birds.
          Hokersar is 14 km (8.7 mi) north of Srinagar, and is a world class wetland spread over 13.75 km2 (5.31 sq mi) including lake and marshy area. It is the most accessible and well-known of Kashmir's wetlands which include Hygam, Shalibug and Mirgund. A record number of migratory birds have visited Hokersar in recent years.Birds found in Hokersar—Migratory ducks and geese which include brahminy duck, tufted duck, gadwall, garganey, greylag goose, mallard, common merganser, northern pintail, common pochard, ferruginous pochard, red-crested pochard, ruddy shelduck, northern shoveller, common teal, and Eurasian wigeon. 
          </div>

          <div class="tab fadeIn" id="Demography" style="display:none;">
          <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">Demography</h3>
          <div style="float:left;margin: 20px;"><img class="img-responsive" src="images/demography.jpg"></div>
          As of 2011 census, Srinagar city's population was 12,19,516 and Srinagar urban agglomeration had 1,236,829 population. Both the city and the urban agglomeration has average literacy rate of approximately 71%, whereas the national average is 74.04%. The child population of both the city and the urban agglomeration is approximately 12% of the total population. Males constituted 53.0% and females 47.0% of the population. The sex ratio in the city area is 888 females per 1000 males, whereas in the urban agglomeration it is 880 per 1000, and nationwide value of this ratio is 940. The predominant religion of Srinagar is Islam with 95% of the population being Muslim. Hindus constitute the second largest religious group 
          representing 4% of the population. The remaining 1% of the population are Sikhs, Buddhist and Jains.
         </div>

          <div class="tab fadeIn" id="Transport_and_tourism" style="display:none;">
          <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">Transport</h3>
          <br> 
          <b>Roads :</b><br> <br>  
            The city is served by many highways, including National Highway 1A and National Highway 1D
          <br><br><b>Air :</b> <br><br> 
            Srinagar Airport (IATA code SXR) has regular domestic flights to Leh, Jammu, Chandigarh and Delhi and occasional international flights. The International flights terminal was inaugurated on 14 February 2009 with an Air India flight from Dubai. Hajj flights also operate from this airport to Saudi Arabia.

          <br><br> <b>Railways : </b> <br><br>  
            Srinagar is a station on the 119 km (74 mi) long Kashmir railway that started in October 2009 and connects Baramulla to Srinagar, Anantnag and Qazigund. The railway track also connects to Banihal across the Pir Panjal mountains through a newly constructed 11 km long Banihal tunnel, and subsequently to the Indian railway network after a few years. It takes approximately 9 minutes and 30 seconds for train to cross the tunnel. It is the longest rail tunnel in India. The train also runs during heavy snow.
            This railway system, proposed in 2001, is not expected to connect the Indian railway network until 2017 at the earliest, with a cost overrun of INR 5,500 crore.
            There are proposals to develop a metro system in the city.[43] The feasibility report for the Srinagar Metro is planned to be carried out by Delhi Metro Rail Corporation

          <br><br> <b>Cable car :</b><br><br>  
            In December 2013, the 594m cable car allowing people to travel to the shrine of the Sufi saint Hamza Makhdoom on Hari Parbat was unveiled. The project is run by the Jammu and Kashmir Cable Car Corporation (JKCCC), and has been envisioned for 25 years. An investment of INR 30cr was made, and it is the second cable car in Kashmir after the Gulmarg Gondola.

           <br><br> <b>Boat :</b><br><br>  
            Whilst popular since the 7th century, water transport is now mainly confined to Dal Lake, where shikaras (wooden boats) are used for local transport and tourism. There are efforts to revive transportation on the River Jhelum <br>

      <h3 style="width:100%;text-align:center;background-color:lavender;padding:20px;color:black">Tourism</h3><br>

        Srinagar is one of several places that have been called the "Venice of the East" or the "Kashmiri Venice". Lakes around the city include Dal Lake – noted for its houseboats – and Nigeen Lake. Apart from Dal lake and Nigeen lake city is also famous for wular lake and manasbal lake to the north of srinagar. Wular lake is one of the largest fresh water lakes in Asia. <br> Srinagar has some Mughal gardens, forming a part of those laid by the Mughal emperors across the Indian subcontinent. Those of Srinagar and its close vicinity include Chashma Shahi (the royal fountains); Pari Mahal (the palace of the fairies); Nishat Bagh (the garden of spring); Shalimar Bagh; the Naseem Bagh. Jawahar Lal Nehru Memorial Botanical Garden is a botanical garden in the city, set up in 1969. The Indian government has included these gardens under "Mughal Gardens of Jammu and Kashmir" in the tentative list for sites to be included in world Heritage sites. <br>

       The Sher Garhi Palace houses administrative buildings from the state government. Another palace of the Maharajas, the Gulab Bhavan, has now become the Lalit Grand Palace hotel.The Shankaracharya Temple on the hill top in the middle of the city, besides the Kheer Bhawani Temple are important hindu temples in the city. <br>
       <strong>For More Info Please Visit <a href="http://www.jktourism.org/index.php/destinations/kashmir/srinagar"
       target="_blank">
         Website Of J&K Tourism
       </a></strong>
       </div>
        </div>
      </div>
    </div>
  </div>
