<div class="container">
<div class="row">
  <ul class="nav nav-pills nav-justified">
  <li ui-sref-active="active"><a  href="#/about-us.info" ui-sref="about-us.info">
                                  About Us</a></li>
  <li ui-sref-active="active"><a ui-sref="about-us.objectives" href="#/about-us/objectives"
                                            > Objectives</a></li>
  <li ui-sref-active="active"><a ui-sref="about-us.mission" href="#/about-us/mission" 
                                          >Mission</a></li>
  <li ui-sref-active="active"><a ui-sref="about-us.infrastructure" href="#/about-us/infrastructure" 
                                                >Infrastructure</a></li>
  <li ui-sref-active="active"><a ui-sref="about-us.principals-message" href="#/about-us/principals-message" 
                                            >Principal's Message</a></li>
</ul>
<br>
<div class="panel panel-primary">
  <ui-view></ui-view>
</div>





<!-- <div class="aboutus_p"><br>
      <ul class="tab">
        <li><a  href="#/about-us.info" ui-sref="about-us.info" ui-sref-active="active-Tab">
                                  About Us</a></li>
        <li><a ui-sref="about-us.objectives" href="#/about-us/objectives"
                                             ui-sref-active="active-Tab"> Objectives</a></li>                                                                   
        <li><a ui-sref="about-us.mission" href="#/about-us/mission" 
                                          ui-sref-active="active-Tab">Mission</a></li>
        <li><a ui-sref="about-us.infrastructure" href="#/about-us/infrastructure" 
                                                ui-sref-active="active-Tab">Infrastructure</a></li>
        <li><a ui-sref="about-us.principals-message" href="#/about-us/principals-message" 
                                            ui-sref-active="active-Tab">Principal's Message</a></li>
                                                                            

      </ul>

      <div id="aboutus" class="tabcontent">
        <ui-view></ui-view>
      </div>
</div> -->
</div>
</div>