<div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading text-center" style="padding-top: 5px;"><h3>Courses Offered</h3></div>
      <div class="panel-body">
        <legend class="text-center">Courses :</legend><br>

 	
     <strong>Name of the Course : </strong>Diploma in Education (D.Ed.)<br>
     <strong>Eligibility : </strong>Pass in HSC <br><br><br>
     <legend class="text-center">More info will be updated Soon</legend>

      
    </div>
    
 
</div>

