<div class="conatiner">
<div class="panel-heading text-center" style="background-color: #428bca;"><h3>Special / Supplementary Examination Notification</h3></div>
  <div class="panel-body">
   <p>
     It is notified for the information of all those candidates of District Srinagar who have passed 7th class examination under formal system or through bridge course and intend to appear for class 8th T2 examination that they can submit their registration cum examination form with this DIET (District Institute of Education and Trainings), Srinagar along with 7th pass certificate and fee of Rs 450/= (Rs Four Hundred Fifty Only) by or before 15th March 2017 during office hours on working days.
   </p>
   <p>
      Those candidates od District Srinagar who intend to re-appear in class 8th T2 supplementary examination March 2017 are advised to deposit their @ Rs 50/= (Rs Fifty Only) per subject with their concerned complex head (through which they have been registered in annual examination Oct - Nov, 2015 - 2016) by or before 10th March 2017.
   </p>
   <p>
      The comlex head are further advised to submit the consolidated subject-wise Micropack in this DIET, Srinagar for re-appear candidates class 8th ts supplementary examination March 2017 along with the fee @ Rs 30 (Rs Thirty only) per subject by or before 15th March 2017
      <legend>
         <small style="margin-right: 500px">DIPK-12162</small> <small>Sd/- Principal, DIET</small>      </legend>
      
   </p>
  </div>
  </div>
