<div class="panel-heading text-center" style="background-color: lavender; color: black"><h3>
<div class="text-center" style="font-size: 1em;">Office Of The Principal</div>
<div class="text-center" style="font-size: 1.5em"><b>District Institute Of Education and Trainings</b></div> 
<div class="text-center"  style="font-size: 1em;"><b>Srinagar</b></div> 
</h3></div><hr style="border-color:  black;border-width: 2px;">
<legend style="color: black;background-color: white;font-size: 1.5em; height: 40px;display: inline-table;" 
 class="text-center"> <b style="display: table-cell;vertical-align: middle;">
Subject : Last date for the receiptof fee for the examination of class 5th to 9th (T1 & T2) session 2017</b></legend>
  <div class="panel-body" style="background-color: white;">
   	It is notified for the information of all concerned that last date for the receipt
	of fee for the examination of class 5th to 9th (T1 & T2) session 2017 is 6th April 2017 for
	Complex Heads.All the students of Government as well as Private recognized schools
	are directed to deposit their fee through their schools in the concerned Complex Heads @ Rs 180/= per student for class 5th and Rs 280/= for class 6th,7th,8th, and 9th 
   <p>
      Late fee shall be charged as detailed below: For the first count of 10 days 
	@Rs 50/= per candidate shall be charged and for the second count of 7 days 
	@ Rs 100/= per candidate.Rs 10/= per day per candidate shall be charged beyond the period of 17 days
   </p>
   <p>
      Model Question Papers are available on DIET (dietsrinagar.com) as well as 
SIE website <a href="http://www.siekashmir.in" target="_blank">(siekashmir.in)</a>  for download. Students are advised to download the model question paper of their own interest
	For latest information keep in touch with CMDE wind Of DIET Srinagar
      <legend>
         <small>Sd/- Principal, DIET</small>      </legend>
      Copt to the:<br>
1. Dy. Director, Department Of information, with the request that the notification may kindly ne published in Leading local Dailies of valley so that the notification is given a wide publicity. <br>
2. The joint Director Trgs/ Principal, SIE, Srinagar for information <br>
3. Office Records	
   </p>
  </div>
<legend></legend>
<a href="" target="_blank" download="DIET Notification 2579">Download as PDF size(88 KB)</a>