<div class="panel-heading text-center" style="background-color: #428bca;"><h3>Our Objectives</h3></div>
  <div class="panel-body">
        “The Aim of Education is the knowledge not of facts but of values.”<br>
        In the heart of dedicated professionals is the belief that the primary goal of education is student achievement. The objective of education is to turn the eyes, which the soul already possesses, to light. The whole function of education is not to put knowledge in the soul but to bring out the best things that are latent in the soul.What strategies would bring about greatest student achievement and improved outcome in our system needs to be viewed in order to maximize student learning and to implement collaborative experimental student-centered cognitive approaches.A focused approach on this shifting paradigm from teaching to learning and making the teacher a facilitator is the demand of the hour. We, at DIET COLLEGE, firmly believe that without change something sleeps inside us and seldom awakens.<br>
        <ul id="obj_list">
          <li>To Provide high level of education and knowledge to students.</li>
          <li>To Provide information of new and upcoming technologies to the student</li>
          <li> To Encourage students for research and development.</li>
          <li>To Provide career guidance through eminent personalities from academics and industries.</li>
          <li>To Organize seminars, guest lectures, industrial training for the student.</li>
          <li>To develop personality and inculcate practical knowledge among students</li>
        </ul><br>
</div>